<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->

<!-- Controller -->
<script src="~/Views/Product/productController.js"></script>
